spring:
  profiles:
    active: dev
    include: secret

---
spring:
  config:
    activate:
      profile: dev
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    format_sql: true
    use_sql_comments: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  logging:
    level:
      org.hibernate.SQL: debug

decorator:
  datasource:
    p6spy:
      enable-logging: true
      logging: slf4j
      multiline: true
